{% extends 'generales/detalle.html' %}


{% block table_render %}

<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Nombre</td>
      <td>{{departamento.nombre}}</td>
    </tr>
    <tr>
      <td>Superficie</td>
      <td>{{departamento.superficie}}</td>
    </tr>
    <tr>
      <td>Población</td>
      <td>{{departamento.poblacion}}</td>
    </tr>
    <tr>
      <td>Descripción</td>
      <td>{{departamento.descripcion}}</td>
    </tr>
  </tbody>
</table>
{% endblock table_render%}	