{% extends 'generales/listado.html' %}

{% block boton_nuevo %} Nuevo Tipo de Documento {% endblock %} 
{% block url_nuevo %} {% url 'tipoDocumentos:alta' %} {% endblock %}


{% block titulo %} {{nombreListado}} {% endblock %}

{% block contenido_informacion_modal %} 

{% endblock %}

{% block customPageJs %}
	{{ block.super }}
	$(".ui.button.detalle").remove();
	
{% endblock %}

{% block mensaje_eliminar_modal %} 
<p>¿Está seguro de que desea eliminar el Tipo Documento "<span id="eliminar-modal-tipo"></span>"?

{% endblock %}

{% block comportamiento_click_eliminar %}
		var splitted_data = this.id.split('-');
		console.log(splitted_data)
		var tipo = splitted_data[0]
		var id = splitted_data[2]
		$("#eliminar-modal-tipo").html(tipo)
		$('#eliminar-modal').modal({
			onApprove : function() {
				//mandar a borrar
				$.post('/tiposDocumentos/eliminar/' + id + '/', function(data){
					if (data.success){
						location.reload();
					}else{
						if(data.message[0]=='error'){
							$('#message_error').html(data.message[1]);
							$('.ui.hidden.error.message').show();
						}else{
							$("#block-wrapper").prepend("<div class='row header-content'><div class='ui large warning message'><i class='close icon'></i> \
								<div class='header'> Hubo el siguiente problema:</div><ul class='list'><li id='message_error'>"+
								data.message[1]+"</li></ul></div></div>");
							$('.message .close').on('click', function() {
									$(this).closest('.message')
									.transition('fade');
							});
						}
					}
				});
			}
		}).modal('show');
{% endblock comportamiento_click_eliminar %}