{% extends 'generales/alta.html' %}

{% load static semanticui %}

{% block mensaje_boton_volver %}
	Volver a Información de Permiso
{% endblock %} 


{% block titulo %} 
	{{nombreForm}}
{% endblock %}

{% block formulario_custom %}

    {% render_form form %}
    
    
    <div class="field">
        <label>Unidad en <a> <FONT SIZE=4> {{permiso.tipo.get_medida_display}}  {{unidadAnterior}} </font></a></label>
        <input type="number" value={{unidad}} data-toggle="tooltip" data-placement="top" title="Ingrese un valor mayor a 0.01" step="0.01" min="0.01" name="unidad" placeholder="Ingrese la unidad del Permiso">
      </div>
      {%if not renovacion %}
       <div class="field">
           <label>Fecha a partir de la cual se comienza a calcular el primer Cobro (Fecha de Solicitud de Permiso: {{permiso.fechaSolicitud}} - Utilizando: {{utilizando}})</label>
        <input type="date" value={{fechaPrimerCobro}} required="True" name="fechaPrimerCobro">
        </div>
        {% endif %}
       <div class="field">
           <label>Fecha de Vencimiento del Permiso</label>
        <input type="date" value={{fechaVencimiento}} required="True" name="fechaVencimiento">
        </div>

{% endblock %}

{% block formname %}nueva_resolucion_form{% endblock%}

{% block customPageJs %}
    

    
{% endblock %}


<!-- {% if messages %}
<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">Errores en la carga de la Resolución</div>
  <ul class="list">
    {% for message in messages %}
        <li> {{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if message_modulo %}
<p style='color:red'>{{ message_modulo }}</p>
{% endif %} -->