{%extends 'lists.html'%}
{% load actionButton %}
{% load static semanticui %}
{% load staticfiles %}
{% block contentList %} 

	<div class="row header-content">
		<div class="titulo">
			<h1 class="ui header blue">{{nombreForm}}</h1>
		</div>
	</div> 

	{% for cobro in cobros %}
		<tr>
			<td>{{cobro.fecha_desde}} - {{cobro.fecha_hasta}}</td>
			<td>{{cobro.fecha_hasta}}</td>
			<td>{{cobro.monto}}</td>
			<td><div class="ui one cards">
		  		<div class="card">
		    		<div class="image">
		      			<img src="{% static cobro.documento.thumbnail %}">
		    		</div>
					<div class="content">
		   				<div class="meta">
	      					<span class="date">{{cobro.documento.fecha}}</span>
	    				</div>
		    			<div class="description">{{cobro.documento.descripcion}}
		    			</div>
		  			</div>
				</div>
				</div>
			</td>						
		</tr>
	{% endfor%}

{% endblock %}
