# ARREGLAR
# Installer logs
pip-log.txt

vim.exe.stackdump
# Django stuff:
*.log
*_dirname
*.py[co]
*_REMOTE_*
*_LOCAL_*
*_BASE_*
*_BACKUP_*

#Carpeta de archivos subidos
/archivos

*.orig
