{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    	<meta charset="utf-8" />
    	<title>IPA</title>
	  	

	  	{% block pluginsStaticStyles %} 
			{% include 'base/staticStylesBase.html' %}
	  	{% endblock %}
	  	{% block pageStaticStyles %}{% endblock %}

	  	{% block fonts %} {% endblock %}

	</head>
	<body>
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}

		<!-- archivos estaticos js de los plugins -->
		{% block pluginsStaticJs %}
			{% include 'base/staticJsBase.html'%}
		{% endblock %}

		<!-- archivos estaticos js de la pagina -->
		{% block pageStaticJs %}{% endblock %}
		<script>
			//jQuery.event.special.touchstart = { setup: function( _, ns, handle ){ if ( ns.includes("noPreventDefault") ) { this.addEventListener("touchstart", handle, { passive: false }); } else { this.addEventListener("touchstart", handle, { passive: true }); } } };
		</script>
		<script>
			{% block customPageJs %}{% endblock %}
		</script>
	</body>
</html>