{% load staticfiles %}

<script type="text/javascript" src="{% static 'plugins/jquery/jquery-3.2.1.min.js'%}"></script>
<script type="text/javascript" src="{% static 'page/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/semantic-ui/semantic.min.js'%}"></script>
<script src="{% static 'plugins/save-form-local-storage/savestorage.js'%}"></script>
<script type="text/javascript" src="{% static 'page/js/calendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'page/js/daterangepicker.js' %}"></script>
