{% extends 'detail.html' %}

{% block detailblock %}
	<p>Nombre del solicitante: {{permiso.solicitante}} </p>
	<p>Establecimiento: {{permiso.establecimiento}}</p>
	<p>Tipo de uso: {{permiso.tipo}}</p>
	<p>Afluente: {{permiso.afluente}} </p>
	<p>Fecha de la Solicitud de Permiso: {{fechaSolicitud}}</p>
	<p>Fecha de Otorgado: {{permiso.estado.fecha}}</p>
	<p>Fecha de Vencimiento: {{permiso.fechaVencimiento}}</p>
	<p>Observación: {{permiso.estado.observacion}}</p>
	<p>Usuario: {{permiso.estado.usuario}}</p>
	<p>Unidad: {{permiso.unidad}}</p>	
	
	<p>Utilizando: 

	{% if utilizando %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>

	<p> Obtenido en oficina: 
	{% if not oficio %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>

	{% if permiso.estado.isPermisoFinalizado %}
	<p style="color:red"> Este Permiso esta VENCIDO</p>
	{% else %}
	<p style="color:green"> Este Permiso esta VIGENTE</p>
	{% endif %}


	<p>Monto total de cobros generados: $ {{permiso.montoTotalCobros}} </p>
	<p>Monto total de pagos ingresados: $ {{permiso.montoTotalPagos}} </p>
	<p>Monto TOTAL (Pagos - Cobros): $ {{permiso.saldoActual}}</p>

{% endblock %}
