<i class="close icon"></i>
<div class="header">
	Recuperacion de contraseña
</div> 
<div class="content">
	<p> Escribe tu dirección de correo y te mandaremos un mail para recuperar tu cuenta </p>
	<div class="form">
		<form class="ui form" method="POST" action="{% url 'password_reset'%}">
		{% csrf_token %}
		<div class="field">
        	<div class="ui left icon input">
            	<i class="mail icon"></i><input name="email" placeholder="Correo electrónico" type="text" />
            </div>
        </div>
		<button class="ui large teal button " type="submit">Enviar</button>
		</form>
    </div> <!-- end form -->
</div> <!-- end content -->
