{% extends 'base/base.html' %}

{% load staticfiles %}

{% block pageStaticStyles %}
    <link href="{% static 'page/styles/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
		<div class="content">
		<p> Te hemos mandado un mail para recuperar la contraseña </p>
			<a class="ui large teal button " href="{% url 'login'%}" type="submit">Aceptar</a>

		</div> <!-- end content -->
	</div>
  </div>
{% endblock %}
