{% extends 'generales/detalle.html' %}


{% block table_render %}
<div class="row"><h2 style="display:inline-block">Información del Usuario </h2> <a href="" style="float:right;">Cambiar contraseña</a></div>

<table class="ui celled table" style="margin:0 auto 20px 0">
    <tbody>
      <tr>
        <td data-label="data">Nombre de usuario</td>
        <td data-label="value">{{object.username}}</td>
      </tr>
      <tr>
        <td data-label="data">Email</td>
        <td data-label="value">{{object.email}}</td>
      </tr>
      <tr>
        <td data-label="data">Fecha de creación</td>
        <td data-label="value">{{object.date_joined}}</td>
      </tr>
      <tr>
        <td data-label="data">Último inicio de sesión</td>
        <td data-label="value">
          {% if object.last_login %}
            {{object.last_login}}
          {% else %}
            Nunca ha iniciado sesión todavia.
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row"><h2 style="display:inline-block">Información de la Persona </h2> <a href="/persona/detalle/{{object.persona.id}}" style="float:right;">Ver más</a></div>

  <table class="ui celled table" style="margin:0 auto 20px 0">
      <tbody>
        <tr>
          <td data-label="data">Nombre completo</td>
          <td data-label="value">{{object.persona.nombre}} {{object.persona.apellido}}</td>
        </tr>
        <tr>
          <td data-label="data">Documento</td>
          <td data-label="value">{{object.persona.get_tipoDocumento_display}} {{object.persona.numeroDocumento}}</td>
        </tr>
      </tbody>
    </table>
{% endblock table_render %}