{% extends 'generales/listado.html' %}

{% block boton_nuevo %} Nuevo Usuario {% endblock %} 

{% block titulo %} Usuarios {% endblock %}

{% block url_nuevo %} nuevo {% endblock %}

{% block mensaje_eliminar_modal %} 
<p>¿Está seguro de que desea eliminar a <span id="eliminar-modal-nombre"></span>?</p>
{% endblock %}

{% block comportamiento_click_detalle %}
	window.location.href = "/empresas/detalle/" + this.id;
{% endblock comportamiento_click_detalle %}

{% block comportamiento_click_eliminar %}
		var splitted_data = this.id.split('-');
		var id = splitted_data[2]
		$("#eliminar-modal-nombre").html(id)
		$('#eliminar-modal').modal({
			onApprove : function() {
				//mandar a borrar
				$.post('/usuarios/eliminar/' + id + '/', function(data){
					if (data.success){
						location.reload();
					} else {
						console.log(data.message)
					}
				})
			}
		}).modal('show');
{% endblock comportamiento_click_eliminar %}