{% extends 'index.html' %}
{% load contextMenu %}
{% load static semanticui %}
{% block extra %}

	<div class="row header-content">
		<div class="titulo">
			<h1 class="ui header blue">{{nombreForm}}</h1>
		</div>
	</div> 

<div>
	<table class="ui single line table">
		<thead>
			<tr>
	      		{% for header in headers%}
					<th>{{header}}</th>
	      		{% endfor %}
	      		<th>Editar</th>
	      		<th>Eliminar</th>
		 	</tr>
		</thead>
		<tbody>
			{% if directores %}
			{% for director in directores %}
			 	<tr>
					<td>{{ director}}</td>
					<td>{{ director.director.legajo}}</td>
					<td>{{ director.cargo}}</td>
					<td>{{ director.fechaInicio }}</td>
					<td><a class="positive ui button" href="{% url 'directores:modificar' director.id %}">Modificar</a></td>
					<td><a class="negative ui button" href="{% url 'directores:eliminar' director.id %}">Eliminar</a></td>
				</tr>
			{% endfor %}
			{% endif %}


		</tbody>
	</table>
</div>

{% endblock %}

{% block secondaryMenu %}
	{% renderContextMenu %}
{% endblock %}

 {% block pageStaticJs %}
 {% endblock %}