{% extends 'detail.html' %}

{% block detailblock %}
	<p>Nombre del solicitante: {{permiso.solicitante}} </p>
	<p>Establecimiento: {{permiso.establecimiento}}</p>
	<p>Tipo de uso: {{permiso.tipo}}</p>
	<p>Afluente: {{permiso.afluente}} </p>

	<p>Fecha: {{permiso.estado.fecha}}</p>
	<p>Observación: {{permiso.estado.observacion}}</p>
	<p>Usuario: {{permiso.estado.usuario}}</p>
	
	<p>Utilizando: {% if utilizando %}Si{% else %}No{% endif %}</p>

	<p>Obtenido en oficina: {% if not oficio %}Si{% else %}No{% endif %}</p>

	<p>Fecha de Publicación: {{permiso.estado.fecha}}</p>
	<p>Dias de Publicación: {{permiso.estado.tiempo}}</p>
	<p>Fecha de Vencimiento de Publicación: {{permiso.estado.vencimientoPublicacion}}</p>
	
	{% if permiso.estado.isEdictoFinalizado %}
	<p> Este Permiso no tiene Resolucion.</p>
		<a class="ui button" href="{% url 'documentos:agregarResolucion' permiso.id %}" class="ui button"> Agregar Resolucion.</a> 
	{% endif %}
	<div class="ui form"><div class="inline field">
		<p style="color:red">OPOSICION</p>
		<a class="ui button" href="{% url 'documentos:agregarOposicion' permiso.id %}" class="ui button"> Agregar Oposición.</a>
	</div></div>

{% endblock %}
