{% extends 'index.html' %}

{% load static semanticui %}

{% load contextMenu %}

{% block extra %} 
<div class="row header-content">
	<div class="titulo">
		<h1 class="ui header blue">{{nombreForm}}</h1>
	</div>
</div>

	{% if messages %}
		<div class="ui error message">
		  <i class="close icon"></i>
		  <div class="header">Errores en la carga del Acta</div>
		  <ul class="list">
			{% for message in messages %}
		    	<li> {{ message }}</li>
			{% endfor %}
		  </ul>
		</div>
	{% endif %}

<form class="ui large form" action="{{ form.url_post }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% render_form form %}

	<div class="row">
		<div class="col-lg-12 text-right">
		{% if not object %}
			<input type="submit" class="ui primary button" name="cargarOtro" value="Guardar y Cargar otro">
		{% endif%}
			<input type="submit" class="ui positive button" name="guardar" value="Guardar">

		</div>
	</div>


</form>



{% endblock %}

{% block secondaryMenu %}
	{% renderContextMenu %}
{% endblock %}