{% extends 'generales/alta.html' %}

{% load static semanticui %}

{% block mensaje_boton_volver %}
	Volver al Detalle de Permiso
{% endblock %} 

{% block titulo %} 
	Nuevo {{nombreForm}}
{% endblock %}

{% block formulario_custom %}
    {% render_form form %}
	<div class="field">
		<label>Monto de Pago ($):</label>
		<input type="number" step="0.01" name="monto" value="{{monto}}" placeholder="Ingrese el monto del comprobante de {{nombreForm}}">
	  </div>
{% endblock %}

{% block formname %}nuevo_pago_form{% endblock%}