{% extends 'base.html' %}
{% load static semanticui %}

	{% include "menu_secundario.html" %}		
    {% include "filtros.html" %}
    {% block informacion %}
		<div id="informacion" hidden>
			<h4>FILTROS SELECCIONADOS</h4>
			<ul id="lista-filtros"></ul>
			<div id="tabla"></div>
		</div>
    {% endblock %}
	{% block graficos %}
		{% include "comisiones/graficos.html" %}
    {% endblock %}
				
{% block pageStaticJs %}
	{{ block.super }}
	<script src="{% static 'js/comisiones/info-com.js' %}"></script>
	<script src="{% static 'js/comisiones/grafico-com.js' %}"></script>
{% endblock %}

{% block pageStaticStyles %}
	{{ block.super }}
	
{% endblock %}

{% block customPageJs %}
	
{% endblock %}