<!DOCTYPE html>
<html>
<head>   
  <meta charset="utf-8">
  <titleIn><font color="green"></font>.</title>
  <link href="assets/plugins/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css"/>
  <link href="assets/page/styles/login.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="semantic.css">
  <script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="semantic.js"></script>
</head>
<body style="border-color: blue">
    <div class ="ui container">
     <div class=" ui vertically divided grid">
        <div clas="two column row">
          <div clas= "column">
             <form class="ui form" id="frm-afluente" method="post">
               <h4 style="background-color:blue " class="ui dividing header"><font size="5" color="white">Alta Solicitante<img class="image" src="logo_ipa.jpg" />
               </font>
               </h4>
                <h4 class="ui dividing header">Datos Personales</h4>
                    <div class="field">      
                     <div class="two fields">
                         <div class="field">
                           <label>Nombre</label>
                           <div class="field">
                              <input type="text" name="nombre" placeholder="nombre">
                           </div>
                         </div>

                         <div class="field">
                           <label>Apellido</label>
                           <div class="field">
                             <input type="text" name="apellido" placeholder="apellido">
                           </div>
                         </div>     
                      </div>
                    </div>

                    <div class="field">      
                     <div class="two fields">
                         <div class="field">
                           <label>Tipo Documento</label>
                           <div class="field">
                              <select class="ui fluid dropdown" name="tipo" placeholder="tipo">
                                  <option value="1">D.N.I</option>
                                  <option value="2">C.I</option>
                                  <option value="3">L.E</option>
                                  <option value="4">Pasaporte</option>
                              </select>
                           </div>
                         </div>

                         <div class="field">
                           <label>Numero documento</label>
                           <div class="field">
                             <input type="text" name="numero" placeholder="numero">
                           </div>
                         </div>     
                      </div>
                    </div>

                    <div class="field">
                         <labe>Direccion</label>
                         <div class="field">
                           <input type="text" name="direccion" placeholder="direccion">
                         </div>
                    </div>
                    <div class="field">
                         <labe>Razon Social</label>
                         <div class="field">
                           <input type="text" name="razon social" placeholder="razonSocial">
                         </div>
                    </div>

                    <div class="field">      
                     <div class="two fields">
                         <div class="field">
                           <label>e-mail</label>
                           <div class="field">
                              <input type="text" name="e-mail" placeholder="email">
                           </div>
                         </div>

                         <div class="field">
                           <label>telefono</label>
                           <div class="field">
                             <input type="text" name="telefono" placeholder="telefono">
                           </div>
                         </div>     
                      </div>
                    </div>             
                 <div class="ui error message"></div>
                 <div class="ui blue button submit" id="btn-enviar">Crear Solicitante</div>
                 <div class="ui blue button submit" id="btn-cancelar">Cancelar</div>

             </form>
          </div>
        </div>
     </div>
  </div> 
  <script type="text/javascript">
      $('.ui.form')
    .form({
      fields: {
        nombre: {
          identifier: 'nombre',
          rules: [
            {
              type   : 'empty',
              prompt : 'por favor ingrese nombre'
            }
          ]
        }, apellido: {
          identifier: 'apellido',
          rules: [
            {
              type   : 'empty',
              prompt : 'por favor ingrese apellido'
            }
          ]
        },
          tipo : {
          identifier: 'tipo',
          rules: [
            {
              type   : 'empty',
              prompt : 'por favor seleccione un tipo de documento'
            }
          ]
        },
          numero : {
          identifier: 'numero',
          rules: [
            {
              type   : 'empty',
              prompt : 'por favor ingrese numero de documento'
            }
          ]
        },
      }
    },{

            onSuccess: function(e){
              e.preventDefault();
            }
      } )
  ;
   </script>

</body>
</html>>


