{% extends 'detail.html' %}

{% block detailblock %}
	<p>Nombre del solicitante: {{solicitud.solicitante}} </p>
	<p>Establecimiento: {{solicitud.establecimiento}}</p>
	<p>Tipo de uso: {{solicitud.tipo}}</p>
	<p>Afluente: {{solicitud.afluente}} </p>

	<p>Fecha: {{solicitud.estado.fecha}}</p>
	<p>Observación: {{solicitud.estado.observacion}}</p>
	<p>Usuario: {{solicitud.estado.usuario}}</p>
	
	<p>Utilizando: 

	{% if utilizando %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>

	<p> Obtenido en oficina: 
	{% if not oficio %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>

	{% if solicitud.numero_exp %}
		<p> Número de expediente: {{ solicitud.numero_exp}}</p>	
	{% else %}
		<p> Esta solicitud no tiene expediente.</p> <button class="ui labeled icon button"><i class="plus icon"></i> Agregar número de expediente. </button>
	{% endif %}

	<div class="ui medium header">Documentos:</div>

	{% for documento in documentos %}
		<p> {{ documento.nombre }}</p>
	{% endfor %}
	
	{% if solicitud.falta_documentacion %}
		<a class="ui labeled icon button"><i class="plus icon"></i> Agregar número de expediente. </a>
	{% else %}
		<p style="color:green">DOCUMENTACION COMPLETA </p>
	{% endif %}
	{% if solicitud.falta_documentacion %}
		<div class="ui medium header">Documentación faltante </div>
		{% for documentacion in solicitud.tipos_de_documentos_faltantes %}
			<p> {{documentacion }} </p> 
		{% endfor %}
		<a href="{% url 'documentos:alta' solicitud.id %}" class="ui button"> Agregar</a>
	{% else %}
		<p> Documentación completa</p>
	{% endif%}
{% endblock %}
