{% extends 'detail.html' %}

{% block detailblock %}
	<p>Nombre del solicitante: {{solicitud.solicitante}} </p>
	<p>Establecimiento: {{solicitud.establecimiento}}</p>
	<p>Tipo de uso: {{solicitud.tipo}}</p>
	<p>Afluente: {{solicitud.afluente}} </p>

	<p>Fecha de Solicitud de Permiso: {{solicitud.fechaSolicitud}}</p>
	
	<p>Observación: {{solicitud.estado.observacion}}</p>
	<p>Usuario que registro el alta de solicitud: {{solicitud.estado.usuario}}</p>
	
	<p>Utilizando: 

	{% if utilizando %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>

	<p> Obtenido en oficina: 
	{% if not oficio %}  
		Si
	{% else %}
		No
	{% endif %}
	</p>


	<div class="ui medium header">Documentos:</div>

	{% for documento in documentos %}
		<p> {{ documento.nombre }}</p>
	{% endfor %}
	
	{% if solicitud.falta_documentacion %}
		<div class="ui medium header" style="color:red">Documentación faltante </div>
		{% for documentacion in solicitud.tipos_de_documentos_faltantes %}
			<p> {{documentacion }} </p> 
		{% endfor %}
		<a href="{% url 'documentos:alta' solicitud.id %}" class="ui button"> Agregar</a>
	{% elif solicitud.visado_completo %}
		<p style="color:green">DOCUMENTACION COMPLETA </p>
		<p> Esta solicitud no tiene expediente.</p>
		<a href="{% url 'documentos:agregarExpediente' solicitud.id %}" class="ui button"> Agregar número de expediente.</a> 
	
	
	{% else %}
		<p style="color:red">DOCUMENTACION COMPLETA. FALTA VISAR DOCUMENTACION </p>
	{% endif%}
{% endblock %}
