{% extends 'detail.html' %}

{% block detailblock %}

<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Nombre del solicitante</td>
      <td>{{solicitud.solicitante}}</td>
    </tr>
    <tr>
      <td>Establecimiento</td>
      <td>{{solicitud.establecimiento}}</td>
    </tr>
    <tr>
      <td>Tipo de uso</td>
      <td>{{solicitud.tipo}}</td>
    </tr>
    <tr>
      <td>Afluente</td>
      <td>{{solicitud.afluente}}</td>
    </tr>
    <tr>
      <td>Fecha de Solicitud de Permiso</td>
      <td>{{solicitud.fechaSolicitud}}</td>
    </tr>
    <tr>
      <td>Observación</td>
      <td>{{solicitud.estado.observacion}}</td>
    </tr>
    <tr>
      <td>Usuario que registro el alta de solicitud</td>
      <td>{{solicitud.estado.usuario}}</td>
    </tr>
    <tr>
      <td>Utilizando</td>
      <td>{% if utilizando %} Si {% else %} No {% endif %}</td>
    </tr>
    <tr>
      <td>Obtenido en oficina</td>
      <td>{% if not oficio %} Si {% else %} No {% endif %}</td>
    </tr>
  </tbody>
</table>

	<div class="ui medium header">Documentos:</div>

	{% for documento in documentos %}
		<p> {{ documento.nombre }}</p>
	{% endfor %}
	
	{% if solicitud.falta_documentacion %}
		<div class="ui medium header" style="color:red">Documentación faltante </div>
		{% for documentacion in solicitud.tipos_de_documentos_faltantes %}
			<p> {{documentacion }} </p> 
		{% endfor %}
		<a href="{% url 'documentos:alta' solicitud.id %}" class="ui button"> Agregar</a>
	{% elif solicitud.visado_completo %}
		<p style="color:green">DOCUMENTACION COMPLETA </p>
		<p> Esta solicitud no tiene expediente.</p>
		<a href="{% url 'documentos:agregarExpediente' solicitud.id %}" class="ui button"> Agregar número de expediente.</a> 
	
	{% else %}
		<p style="color:red">DOCUMENTACION COMPLETA. FALTA VISAR DOCUMENTACION </p>
	{% endif%}
{% endblock %}