{%extends 'lists.html'%}
{% load actionButton %}

{% block contentList %} 

{% for solicitud in solicitudes %}
	{% if solicitud.estado.tipo == 1 or solicitud.estado.tipo == 2 or solicitud.estado.tipo == 3 or solicitud.estado.tipo == 4%}
	<tr>
			<td>{{solicitud.solicitante}}</td>
			<td>{{solicitud.establecimiento}}</td>
			<td>{{solicitud.tipo}}</td>
			<td>{{solicitud.estado.getEstadoString}}</td>
			<td class="text-center">	
			<a class="ui icon button" href="{%url 'solicitudes:detalle' solicitud.id%} "><i class="info circle icon"></i></button>
			</td>		
	</tr>
	{% endif %}
{% endfor%}

{% endblock %}