{% extends 'index2.html' %}
{% load static semanticui %}
{% load actionButton %}
{% block wrapper %}

	<div class="row header-content">
		<div class="ui hidden large error message">
			<i class="close icon"></i>
			<div class="header"> Hubo el siguiente problema:</div>
			<ul class="list">
				<li id="message_error"></li>
			</ul>
		</div>
	</div>

	<div class="row header-content">
		<div class="ui hidden large positive message">
			<i class="close icon"></i>
			<div class="header"> {% block mensaje_success_titulo %} ¡Todo a salido bien! {% endblock %}</div>
			<li id="message_positive"> {{ message_success }}</li>
		</div>
	</div>


	{% block context_menu %} {% endblock %} 
	
	<div class="row centered">
		
		<h1 class="ui center aligned header blue "> {{nombreReporte}} </h1>
	
	</div>

	{% block botones %}

	{% endblock %}

	{% include "menu_secundario.html" %}
    {% include "filtros.html" %}
    {% block informacion %}
	
    {% endblock %}
	<br><br><br>
	{% block graficos %}
	
    {% endblock %}
				
{% endblock %}
				
{% block pageStaticJs %}
	{{ block.super }}
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script src="{% static 'js/reportes.js' %}"></script>
{% endblock %}

{% block pageStaticStyles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tabulator_semantic-ui.css' %}">
{% endblock %}

{% block customPageJs %}
	var tipo_reporte;
	var usuario_nombre = "{{user.persona.nombre}}";
	var usuario_apellido = "{{user.persona.apellido}}";
{% endblock %}