{% load static semanticui %}

<form class="ui form" id="filtro-form" data-ajax_url="{{url_ajax}}">
    {% render_form form %}
    {% if fechas %}
    <div class="field">
        <label for="fecha">Fecha</label>
        <div class="ui">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" id="fecha" name="daterange"/>
            </div>
        </div>
    </div>
    {% endif %}
    <input type="submit" value="Generar">
</form>