{% load static semanticui %}

<form class="ui form" id="filtro-form" data-ajax_url="{{url_ajax}}">
    {% render_form form %}
    {% if fechas %}
    <div class="field">
        <label for="fecha">Fecha</label>
        <div class="ui">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" id="fecha" name="daterange"/>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="ui grid" >
        <div class="row">
            <div class="sixteen wide column" style="margin: 10px 0">
                <button type="submit" class="ui icon right blue button" name="generar" value="{{return_path}}"> Generar </button>
            </div>
        </div>
    </div>
</form>