<div class="ui pointing secondary menu">
    <a class="active item" id="item-filtro"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filtros</font></font></a>
    <a class="item" id="item-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información</font></font></a>
    <a class="item" id="item-grafico"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Graficos</font></font></a>
    <a class="item" id="item-info-grafico"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Info + Graficos</font></font></a>
    
    <div class="right menu">
        <button class="item" id="imprimir-tabla"><i class="print icon"></i>Imprimir</button>
        <div class="item">
            <div class="ui dropdown">
                Exportar
                <i class="dropdown icon"></i>
                <div class="menu">
                    <button class="item" id="descargar-tabla-pdf"><i class="file pdf outline icon"></i>PDF</button>
                    <button class="item" id="descargar-tabla-json"><i class="file outline icon"></i>JSON</button>
                    <button class="item" id="descargar-tabla-xlsx"><i class="file excel outline icon"></i>XLSX</button>
                </div>
            </div>
        </div>
    </div>            
</div>