{% extends 'generales/detalle.html' %}

{% block table_render %}

<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Descripción</td>
      <td>{{tipo.descripcion}}</td>
    </tr>
    <tr>
      <td>Coeficiente</td>
      <td>{{tipo.coeficiente}}</td>
    </tr>
    <tr>
      <td>Tipo de módulo</td>
      <td>{{tipo.getTipoModuloString}}</td>
    </tr>
    <tr>
      <td>Periodo</td>
      <td>{{tipo.getPeriodoString}}</td>
    </tr>
    <tr>
      <td>Medida</td>
      <td>{{tipo.getMedidaString}}</td>
    </tr>
    <tr>
      <td>Documentos a presentar</td>
      <td>
        {% for documento in tipo.documentos.all %}
            <p> {{ documento }} </p>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock table_render%}	
