{% extends 'index.html' %}
{% load actionButton %}
{% load static semanticui %}
{% load staticfiles %}
{% load contextMenu %}

{% block extra %}

	<div class="ui four cards">
	{% for documento in permiso.documentos.all %}
	  <div class="card">
	    <div class="image">
	      <img src="{% static documento.thumbnail %}">
	    </div>
	    {%if not documento.tipo.protegido%}
	    <div class="extra">Visado<i class="circle icon" style="color:
	    {%if documento.visado%}green{%else%}red{%endif%}
	    "></i></div>
	    {% endif %}
		<div class="content">
	    <a href="/{{documento.archivo.url}}" class="header">{{documento.tipo.nombre}}</a>
	    <div class="meta">
      	<span class="date">{{documento.fecha}}</span>
    	</div>
	    <div class="description">{{documento.descripcion}}</div>
		{% if permiso.estado.tipo == 1 or permiso.estado.tipo == 2%}
	    	<a href="{% url 'solicitudes:visarDocumentoSolicitud' permiso.id documento.id %}">VISAR</a>
	    {% endif %}
	  </div>

	  </div>

		
	{% endfor%}
	</div>


{% endblock %}

{% block secondaryMenu %}
	{% renderContextMenu %}
{% endblock %}

 {% block pageStaticJs %}
	<script type="text/javascript" src="{% static 'page/js/index.js'%}"></script>
{% endblock %}

