{% extends 'index.html' %}

{% load static semanticui %}

{% load contextMenu %}

{% block extra %} 
<div class="row header-content">
	<div class="titulo">
		<h1 class="ui header blue">
			{% block nombreForm %} 
				{{nombreForm}}
			{% endblock %} 
		</h1>
	</div>
</div>


	{% if message %}
		<div class="ui error message">
		  <i class="close icon"></i>
		  <div class="header">Errores en la carga del Tipo de Uso</div>
		    	<li> {{ message }}</li>
		</div>
	{% endif %}

<form class="ui large form" action="{{ form.url_post }}" method="POST">
  {% csrf_token %}
  {% render_form form %}

<div class="ui error message">
</div>
	<div class="row">
		<div class="col-lg-12 text-right">
		{% if not object %}
			<input type="submit" class="ui primary button" name="cargarOtro" value="Guardar y Cargar otro">
		{% endif%}
			<input type="submit" class="ui positive button" name="guardar" value="Guardar">

		</div>
	</div>


</form>
{% endblock %}

{% block secondaryMenu %}
	{% renderContextMenu %}
{% endblock %}