<div class="ui small basic icon buttons">
	<button class="ui button detalle" id="{{record.id}}" onclick="window.location.href='detalle/{{record.id}}/'">
		<i class="eye icon"></i>
	</button>
	<button class="ui button" onclick="window.location.href='modificar/{{record.id}}/'">
		<i class="edit icon"></i>
	</button>
	<button class="ui button eliminar" id="{{record.nombre}}-{{record.apellido}}-{{record.id}}" onclick="window.location.href='eliminar/{{record.id}}/'">
		<i class="trash alternate icon"></i>
	</button>
</div>