{% extends 'base/base.html' %}

{% load staticfiles %}

{% block pageStaticStyles %}
    <link rel="stylesheet" href="{% static 'page/styles/home.css' %}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block header%}
<div class="ui inverted huge borderless fixed fluid menu">
  <a class="header item" href="#">IPA</a>
  <div class="right menu">
    <a class="item">Inicio</a><a class="item">Perfil</a>
    <a class="item">Ayuda</a>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="ui grid">
    <div class="row">
      <div class="three wide column" >
        <div class="ui secondary vertical fluid menu">
          <a class="active item">Permisos</a><a class="item">Reportes</a><a class="item"> Listados </a><a class="item">Usuarios</a>
        </div>
      </div> <!-- column sidebar-->
      <div class="ten wide column" >
        {% block extra %}
          <p>Bienvenido </p>
        {% endblock %}
      </div>
      <div class="three wide column" >
        <div class="ui secondary vertical fluid menu">
          <a class="active item">Permisos</a><a class="item">Reportes</a><a class="item"> Listados </a><a class="item">Usuarios</a>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- ui grid -->

{% endblock %}

