{% extends 'index.html' %}

{% block extra %}
<table class="ui single line table">
	<thead>
		<tr>
      		{% for header in headers%}
				<th>{{header.nombre}}</th>
      		{% endfor %}
	 	</tr>
	</thead>
	<tbody>
		 <tr>
		 	{% for documento in documentos %}
				<td>{{documento.nombre}}</td>
			{% endfor%}
		 </tr>

	</tbody>
	  
</table>

{% endblock %}

{% block secondaryMenu %}
 <div class="ui vertical fluid blue inverted large menu right">
{% for boton in botones %}
	<a class="item" href="#"></i> {{boton}}</a>
{% endfor%}
</div>    
{% endblock %}