{% extends 'index.html' %}
{% load contextMenu %}
{% block extra %}
<div class="ui grid"> 
<div class="row header-content">
	<div class="one wide column"></div>
	<div class="seven wide column">
		<div class="titulo">
			<h1 class="ui header blue "> {{ nombreLista }}</h1>
		</div>
	</div>
	<div class="two wide column"></div>
	<div class="six wide column">
		<div class="center buscador">
			<div class="ui search">
			  <div class="ui icon input">
			    <input class="prompt" type="text" placeholder="Buscar">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
		</div>
	</div>
</div>
<div class="row lista">
	<div class="sixteen wide column">
		<table class="ui single line table">
			<thead>
				<tr>
		      		{% for header in headers%}
						<th>{{header}}</th>
		      		{% endfor %}
		      		<th> - </th>

			 	</tr>
			</thead>
			<tbody>
				{% block contentList%} {% endblock%}
				 	
			</tbody>
		</table>
	</div>
</div>

</div>

{% endblock %}

{% block secondaryMenu %}
	{%renderContextMenu%} 
{% endblock %}