<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IPA</title>
    <link href="assets/plugins/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/page/styles/login.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="assets/plugins/jquery/jquery-3.2.1.min.js"></script>

    <script src="assets/plugins/semantic-ui/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="imageContent">
          <img class="image" src="assets/page/img/logo.jpg" />
        </div>
        
        <h2 class="ui teal image header">
          <div class="content">
            Bienvenido al IPA
          </div>
        </h2>
        <form class="ui large form" action="./index.html" method="POST">
          {% csrf_token %}
          <div class="ui stacked">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i><input name="email" placeholder="Correo electrónico o nombre de usuario" type="text" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i><input name="password" placeholder="Contraseña" type="password" />
              </div>
            </div>
            <button class="ui fluid large teal button " type="submit">Iniciar sesión</button>
          </div>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <script src="assets/page/js/login.js">
    </script>
  </body>
</html>
