{% load static semanticui %}

{% if object %}
	<form class="ui large form" action="{% url 'afluentes:modificar_afluente' object.pk %}" method="post">
{% else %}
	<form  class="ui large form" action="{% url 'afluentes:alta_afluentes' %}" method="post">
{% endif %}

  {% csrf_token %}
  {% render_form form %}


	<div class="row">
		<div class="col-lg-12 text-right">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			<button type="button" class="btn btn-default" onclick="return cerrar_modal()">
				Cancelar
			</button>
		</div>
	</div>


</form>


  