{% extends 'index.html' %}



{% block extra %}

<div>
	<table class="ui single line table">
		<thead>
			<tr>
	      		{% for header in headers%}
					<th>{{header}}</th>
	      		{% endfor %}
	      		<th>Más Info</th>
				<th>Editar</th>
				<th>Borrar</th>
		 	</tr>
		</thead>
		<tbody>
			{% if afluentes %}
			{% for afluente in afluentes %}
			 	<tr>
					<td>{{ afluente.nombre }}</td>
					<td>{{ afluente.localidad }}</td>
					<td>{{ afluente.caudal }}</td>
					<td class="text-center">	
						<button class="ui icon button" id="infoID"><i class="info circle icon"></i></button>
						<button class="ui icon button" ><i class="edit icon"></i></button>
						<button class="ui icon button" id="deleteID"><i class="trash icon"></i></button>
					</td>
				</tr>
			{% endfor %}
			{% endif %}


		</tbody>
	</table>
</div>


{% endblock %}

{% block secondaryMenu %}
 <div class="ui vertical fluid blue inverted large menu right">
{% for boton in botones %}
	<a class="item" href="{% url 'listar_afluentes' %}"></i> {{boton}}</a>
{% endfor%}
</div>    
{% endblock %}

 {% block pageStaticJs %}

{% endblock %}


