{% extends 'index.html' %} {% load staticfiles %}

{% block extra %}
		<table class="ui single line table">
	  		<thead>
	    		<tr>
		      		<th>Nombre</th>
		      		<th>Localidad</th>
		      		<th>Caudal</th>
		      		<th>Longitud(km)</th>
		      		<th>Descripcion</th>
		      		<th></th>
			 	</tr>
			</thead>
			<tbody>
				 <tr>
				 	<td>chiquichano</td>
				 	<td>Trelew</td>
				 	<td>5</td>
				 	<td>2.4</td>
				 	<td>aguas turbias</td>
				 	<td><a href="./altaAfluente.html"><div class="ui blue button submit" id="btn-editar">editar</div></a></td>

				 </tr>

			</tbody>
			  
		</table>
1
{% endblock %}