{% extends 'index.html' %}
{% load contextMenu %}
{% load actionButton %}
{% load static semanticui %}
{% load staticfiles %}

{% block extra %}
<div class="ui grid"> 
<div class="row header-content">
	<div class="one wide column"></div>
	<div class="seven wide column">
		<div class="titulo">
			<h1 class="ui header blue "> {{ nombreForm }}</h1>
		</div>
	</div>
	<div class="two wide column"></div>
	<div class="six wide column">
		<div class="center buscador">
			<div class="ui search">
			  <div class="ui icon input">
			    <input class="prompt" type="text" placeholder="Buscar">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
		</div>
	</div>
</div>
<div class="row lista">
	<div class="sixteen wide column">
		<table class="ui single line table "><h3>Pagos de Canon:</h3>
			<thead class="center aligned">
				<tr>
		      		{% for header in headers%}
						<th>{{header}}</th>
		      		{% endfor %}
		      		<th>  </th>

			 	</tr>
			</thead1>
			<tbody class="center aligned">
				{% for pago in pagosCanon %}
				<tr>
					<td>{{pago.fecha}}</td>
					<td>{{pago.monto}}</td>
					<td><div> 
						<a href="/archivos/{{pago.documento.archivo.url}}" class="ui icon">{{pago.documento.tipo.nombre}}
						<i class="file icon"></i>
						</a> 
					</div></td>
				</tr>
				{% endfor%}				 	
			</tbody>
		</table>
	</div>

	<div class="sixteen wide column">
		<table class="ui single line table"><h3>Pagos de Infraccion:</h3>
			<thead class="center aligned">
				<tr>
		      		{% for header in headers%}
						<th>{{header}}</th>
		      		{% endfor %}
		      		<th>  </th>

			 	</tr>
			</thead1>
			<tbody class="center aligned">
				{% for pagoinfra in pagosInfraccion %}
				<tr>
					<td>{{pagoinfra.fecha}}</td>
					<td>{{pagoinfra.monto}}</td>
					<td><div> 
						<a href="/archivos/{{pago.documento.archivo.url}}" class="ui icon">{{pagoinfra.documento.tipo.nombre}}
						<i class="file icon"></i>
						</a> 
					</div></td>
				</tr>
				{% endfor%}				 	
			</tbody>
		</table>
	</div>

</div>

</div>

{% endblock %}

{% block secondaryMenu %}
	{%renderContextMenu%} 
{% endblock %}