{% extends 'index.html' %}
{% load contextMenu %}
{% block extra %}
<div class="ui grid"> 
<div class="row header-content">
	<div class="one wide column"></div>
	<div class="seven wide column">
		<div class="titulo">
			<h1 class="ui header blue "> {{ nombreForm }}</h1>
		</div>
	</div>
	<div class="two wide column"></div>
	<div class="six wide column">
		<div class="center buscador">
			<div class="ui search">
			  <div class="ui icon input">
			    <input class="prompt" type="text" placeholder="Buscar">
			    <i class="search icon"></i>
			  </div>
			  <div class="results"></div>
			</div>
		</div>
	</div>
</div>
<div class="row lista">
	<div class="sixteen wide column">
		<table class="ui single line table "><h3>Pagos de Canon:</h3>
			<thead class="center aligned">
				<tr>
		      		{% for header in headers%}
						<th>{{header}}</th>
		      		{% endfor %}
		      		<th>  </th>

			 	</tr>
			</thead1>
			<tbody class="center aligned">
				{% for pago in pagosCanon %}
				<tr>
					<td>{{pagoinfra.fecha}}</td>
					<td>{{pago.monto}}</td>
				</tr>
				{% endfor%}				 	
			</tbody>
		</table>
	</div>

	<div class="sixteen wide column">
		<table class="ui single line table"><h3>Pagos de Infraccion:</h3>
			<thead class="center aligned">
				<tr>
		      		{% for header in headers%}
						<th>{{header}}</th>
		      		{% endfor %}
		      		<th>  </th>

			 	</tr>
			</thead1>
			<tbody class="center aligned">
				{% for pagoinfra in pagosInfraccion %}
				<tr>
					<td>{{pagoinfra.fecha}}</td>
					<td>{{pagoinfra.monto}}</td>
				</tr>
				{% endfor%}				 	
			</tbody>
		</table>
	</div>

</div>

</div>

{% endblock %}

{% block secondaryMenu %}
	{%renderContextMenu%} 
{% endblock %}