{% extends 'generales/detalle.html' %}

{% block table_render %}
<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Dueño</td>
      <td>{{establecimiento.duenio.nombre}}, {{establecimiento.duenio.apellido}} </td>
    </tr>
    <tr>
      <td>Código Catastral</td>
      <td>{{establecimiento.codigoCatastral}}</td>
    </tr>
    <tr>
      <td>Superficie</td>
      <td>{{establecimiento.superficie}}</td>
    </tr>
    <tr>
      <td>Nombre</td>
      <td>{{establecimiento.nombre}}</td>
    </tr>
    <tr>
      <td>Descripción</td>
      <td>{{establecimiento.descripcion}}</td>
    </tr>
    <tr>
      <td>Localidad</td>
      <td>{{establecimiento.localidad.nombre}}</td>
    </tr>
  </tbody>
</table>
	
{% endblock table_render%}	
