{% extends 'detail.html' %}

{% block detailblock %}
    
    <table class="ui definition table">
 		 <tbody>
    		<tr>
      			<td class="two wide column">Nombre del solicitante</td>
      			<td>{{permiso.solicitante}}</td>
    		</tr>
    		<tr>
      			<td>Establecimiento</td>
      			<td>{{permiso.establecimiento}}</td>
    		</tr>
    		<tr>
      			<td>Tipo de uso</td>
      			<td>{{permiso.tipo}}</td>
    		</tr>
    		<tr>
      			<td>Afluente</td>
      			<td>{{permiso.afluente}}</td>
    		</tr>
    		<tr>
      			<td>Fecha de Solicitud de Permiso</td>
      			<td>{{permiso.fechaSolicitud}}</td>
    		</tr>

    		<tr>
      			<td>Fecha de baja de Permiso</td>
      			<td>{{permiso.estado.fecha}}</td>
    		</tr>

    		<tr>
      			<td>Observacion</td>
      			<td>{{permiso.estado.observacion}}</td>
    		</tr>

    		<tr>
      			<td>Usuario</td>
      			<td>{{permiso.estado.usuario}}</td>
    		</tr>

    		<tr>
      			<td>Utilizando</td>
      			<td>{% if utilizando %}Si{% else %}No{% endif %}</td>
    		</tr>

    		<tr>
      			<td>Obtenido en oficina</td>
      			<td>{% if not oficio %}Si{% else %}No{% endif %}</td>
    		</tr>

    		<tr>
      			<td>Fecha de Publicación</td>
      			<td>{{permiso.estado.fecha}}</td>
    		</tr>

    		<tr>
      			<td>Fecha de Vencimiento de Publicación</td>
      			<td>{{permiso.estado.vencimientoPublicacion}}</td>
    		</tr>

  		</tbody>
	</table>
    
{% endblock %}
