{% extends 'index2.html' %}
{% load static semanticui %}
{% load contextMenu %}

{% block wrapper %}
<div class="ui grid" style="margin-bottom:25px;"> 

<div class="row header-content">
	<div class="five wide column">
		<button class="ui primary basic button" onclick="window.location.href='{{return_path}}'">
			<i class="angle left icon"></i>
            {% block mensaje_boton_volver %}
            Volver
            {% endblock %}
		</button>

	</div>
	<div class="six wide column">
		<h1 class="ui center aligned header blue "> {% block titulo %} Nuevo {% endblock %}</h1>
	</div>
	<div class="five wide column">
	</div>
</div>
</div>
	{% if message_error %}
		<div class="ui error message">
		  <i class="close icon"></i>
		  <div class="header"> {% block mensaje_error_titulo %} Hubo el siguiente problema: {% endblock %}</div>
		    	<li> {{ message_error }}</li>
		</div>
	{% endif %}
	{% if message_success %}
		<div class="ui positive message">
		  <i class="close icon"></i>
		  <div class="header"> {% block mensaje_success_titulo %} ¡Todo a salido bien! {% endblock %}</div>
		    	<li> {{ message_success }}</li>
		</div>
	{% endif %}

<form class="ui large form" action="{{ form.url_post }}" method="POST" id="{% block formname %}form{% endblock %}">
    {% csrf_token %}
	{% block formulario_custom %}
		{% render_form form %}
	{% endblock %}
	{% block formularios_extra %}{% endblock %}
	
    <div class="ui grid" >
		<div class="row">
			<div class="sixteen wide column" style="margin: 20px 0">
				{% if not object %}
					<button type="submit" class="ui primary button" name="cargarOtro" value="{{return_path}}">Guardar y Cargar otro</button>
				{% endif %}
				<button type="submit" class="ui positive button" name="guardar" value="{{return_path}}">Guardar</button>
			</div>
		</div>
	</div>
	<div class="ui error message">
	</div>


</form>
{% endblock %}

{% block customPageJs %}

{% endblock %}