{% extends 'index2.html' %}

{% load contextMenu %}

{% block wrapper %}


<div class="row header-content">
	<div class="five wide column">
		<div class="ui secondary menu">
			<button class="ui primary basic button" onclick="window.location.href='{{return_path}}'">
				<i class="angle left icon"></i>
				{% block mensaje_boton_volver %}
				Volver
				{% endblock %}
			</button>
			{% renderContextMenu %}
            {% if ayuda %}
                <div class="right menu">
                    <a target="_blank" class="question circle icon" href="/docs/{{ayuda}}"><i class="help icon"style="font-size: 30px;"></i></a>
                </div>
            {% endif %}
		</div>
	</div>
	<br>
	<div class="six wide column">
		<h1 class="ui center aligned header blue "> {% block titulo %} Nuevo {% endblock %}</h1>
	</div>
	<div class="five wide column">
	</div>

</div>
	
<div class="ui error message" hidden>
	<i class="close icon"></i>
	<div class="header"> {% block mensaje_error_titulo %} Hubo el siguiente problema: {% endblock %}</div>
	<ul id="message_error" class="list">
	{% for message in message_error %}
		<li> {{ message }}</li>
	{% endfor %}
	</ul>
</div>


<div class="ui positive message" hidden>
	<i class="close icon"></i>
	<div class="header"> {% block mensaje_success_titulo %} ¡Todo a salido bien! {% endblock %}</div>
	<ul id="message_positive" class="list">
	</ul>
</div>
	

<form class="ui large form" action="{{ form.url_post }}" method="POST" id="{% block formname %}form{% endblock %}" enctype="multipart/form-data">
    {% csrf_token %}
	{% block formulario_custom %}
		
	{% endblock %}
	{% block formularios_extra %}{% endblock %}
	
    <div class="ui grid" >
		<div class="row">
			<div class="sixteen wide column" style="margin: 20px 0">
				{% if not object %}
					<button type="submit" class="ui primary button" name="cargarOtro" value="{{return_path}}">Guardar y Cargar otro</button>
				{% endif %}
				<button type="submit" class="ui positive button" name="guardar" value="{{return_path}}">Guardar</button>
			</div>
		</div>
	</div>
	


</form>
{% endblock %}

{% block customPageJs %}
	$('.message .close')
	.on('click', function() {
		$(this)
		.closest('.message')
		.transition('fade')
		;
	})
	;
{% endblock %}