{% extends 'index2.html' %}
{% load contextMenu %}
{% block wrapper %}
<div class="row header-content">
	<div class="five wide column">
        <div class="ui secondary menu">
		<a class="ui primary basic button" onclick="window.location.href='{{return_path}}'">
			<i class="angle left icon"></i>
            Volver a {{return_label}}
        </a>
            {% renderContextMenu %}
            
          </div>
          
    </div>
    <br>
	<div class="six wide column">
        <h1 class="ui center aligned header blue "> Información de {{nombreDetalle}} </h1>
	</div>
	<div class="five wide column">
    </div>
    
</div>

{% block table_render %}

{% endblock table_render %}
				

{% endblock %}

{% block customPageJs %}
    $('.ui.sidebar')
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('toggle')
    ;

{% endblock %}