{% extends 'index2.html' %}
{% load actionButton %}
{% load render_table from django_tables2 %}

{% block wrapper %}
<div class="ui grid"> 
	<div class="row header-content">
		<div class="six wide column">
			{% if filter %}
				<form action="" method="get" class="ui form">
					<div class="inline field">
						{{ filter.form }}
						<button class="ui icon button">
								<i class="filter icon"></i>
						</button>				
					</div>
				</form>
			{% endif %}
		</div>
		<div class="four wide column">
			<h1 class="ui center aligned header blue "> {% block titulo %} Listado {% endblock %} </h1>
		</div>
		<div class="six wide column">
			<button class="ui icon right floated blue button" onclick="window.location.href='{% block url_nuevo %} alta {% endblock %}'">
				<i class="plus icon"></i>
				{% block boton_nuevo %} Nuevo {% endblock %} 
			</button>
		</div>
	</div>
	<div class="row lista">
		{% render_table table %}
	</div>
</div>

<div class="ui modal" id="informacion-modal">
	<div class="ui center aligned header" id="modal-header"></div>
	<div class="content">
		{% block contenido_informacion_modal %} {% endblock %}
	</div>
	<div class="actions">
		<div class="ui cancel blue button">Cerrar</div>
	</div>
</div>

<div class="ui small modal" id="eliminar-modal">
	<div class="ui center aligned header">¡Cuidado!</div>
	<div class="content">
		{% block mensaje_eliminar_modal %} {% endblock %}
	</div>
	<div class="actions">
		<div class="ui positive button">Eliminar</div>
		<div class="ui negative button">Cancelar</div>
	</div>
</div> 


{% endblock %}

{% block customPageJs %}

	// using jQuery
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
    });
    
	$(".ui.button.detalle").click(function(){
		{% block comportamiento_click_detalle %}
		  
		{% endblock comportamiento_click_detalle %}
	})

	$(".ui.button.eliminar").click(function(){
		{% block comportamiento_click_eliminar %}
		  
		{% endblock comportamiento_click_eliminar %}
	})

{% endblock %}
