{% extends 'index2.html' %}
{% load contextMenu %}
{% block wrapper %}
<div class="row header-content">
	<div class="five wide column">
        <div class="ui secondary menu">
		<a class="ui primary basic button" onclick="window.location.href='{% url 'permisos:listar'%}'">
			<i class="angle left icon"></i>
            Volver al listado de permisos
        </a>
            {% renderContextMenu %}
            
          </div>
          
    </div>
    <br>
	<div class="six wide column">
        <h1 class="ui center aligned header blue "> Información de Permiso {{nombreDetalle}} </h1>
	</div>
	<div class="five wide column">
    </div>
    
</div>

<table class="ui celled table" style="margin:20px auto 20px 0">
    <tbody>
        <tr>
            <td data-label="data">Estado</td>
            <td data-label="value">{{object.estado}}</td>
        </tr>
            
        <tr>
            <td data-label="data">Solicitante</td>
            <td data-label="value">{{object.solicitante}}</td>
        </tr>
        <tr>
            <td data-label="data">Establecimiento</td>
            <td data-label="value">{{object.establecimiento}}</td>
        </tr>
        <tr>
            <td data-label="data">Tipo de Uso</td>
            <td data-label="value">{{object.tipo}}</td>
        </tr>
        <tr>
            <td data-label="data">Afluente</td>
            <td data-label="value">{{object.afluente}}</td>
        </tr>
        {% if object.numero_exp %}
        <tr>
            <td data-label="data">Número de expediente</td>
            <td data-label="value">{{object.numero_exp}}</td>
        </tr>
        {% endif %}
        <tr>
            <td data-label="data">Fecha de solicitud</td>
            <td data-label="value">{{object.fechaSolicitud}}</td>
        </tr>
        <tr>
            <td data-label="data">Fecha de vencimiento</td>
            <td data-label="value">
                {% if object.fechaVencimiento %}
                    {{object.fechaVencimiento}}
                {% else %}
                    ------
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Observación</td>
            <td>{{solicitud.estado.observacion}}</td>
        </tr>
        <tr>
            <td>Usuario que registro el alta de solicitud</td>
            <td>{{solicitud.estado.usuario}}</td>
        </tr>
        <tr>
            <td>Utilizando</td>
            <td>{% if utilizando %} Si {% else %} No {% endif %}</td>
        </tr>
        <tr>
            <td>Obtenido en oficina</td>
            <td>{% if not oficio %} Si {% else %} No {% endif %}</td>
        </tr>

        {% if solicitud.estado.getEstadoString == "publicado"%}
        <tr>
                <td>Fecha de Publicacion</td>
                <td>{{solicitud.estado.fecha}}</td>
        </tr>
        <tr>
                <td>Dias de Publicacion</td>
                <td>{{solicitud.estado.tiempo}}</td>
        </tr>

        <tr>
                <td>Fecha de Vencimiento de Publicacion</td>
                <td>{{solicitud.estado.vencimientoPublicacion}}</td>
        </tr>
        {% endif %}
        
        {% include "permisos/estados/otorgado-baja.html" %}
        
    </tbody>
  </table>
  
    {% include "permisos/estados/solicitado-visado.html" %}
    {% include "permisos/estados/completado.html" %}
    {% include "permisos/estados/publicado.html" %}
    
				

{% endblock %}

{% block customPageJs %}
    $('.ui.sidebar')
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('toggle')
    ;

{% endblock %}