{% extends 'index2.html' %}

{% load staticfiles %}
{% load contextMenu %}



{% block wrapper %}
    
    {% renderContextMenu %}
    
	<div class="ui grid"> 
		<div class="row header-content">
			<div class="ui cards">
				{% for documento in documentos %}
					<div class="card">
						<div class="image">
							<img src="{% static documento.thumbnail %}">
						</div>
						{%if not documento.tipo.protegido%}
							<div class="extra">Estado: {{documento.get_estado_display}}<i class="circle icon" style="color:
							{%if documento.estado is 0%}yellow{%elif documento.estado is 1%}red{%else%}green{%endif%}"></i></div>
						{% endif %}
						<div class="content">
							<a href="/archivos/{{documento.archivo.url}}" id="tipo-{{documento.id}}" class="header">{{documento.tipo.nombre}}</a>
							<div class="meta">
								<span class="date">{{documento.fecha}}</span>
							</div>
							<div class="description">{{documento.descripcion}}</div>
						</div>
						{%if documento.tipo.protegido or permiso.estado.tipo < 4 and not documento.tipo.protegido%}
							<div class="extra content">
								<div class="fluid ui floating dropdown button">
									<div class="text">Acción</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										{%if permiso.estado.tipo < 4 and not documento.tipo.protegido%}
											<a class="item" href="{% url 'permisos:rechazarDocumentoSolicitud' permiso.id documento.id %}"><i class="x icon"></i> Rechazar</a>
											<a class="item" href="{% url 'permisos:visarDocumentoSolicitud' permiso.id documento.id %}"><i class="check icon"></i> Visar</a>
										{% endif %}
										{%if permiso.estado.tipo < 4 or documento.tipo.protegido%}
											<a class="item" href="{% url 'documentos:modificar' documento.id permiso.id%}"><i class="edit icon"></i> Modificar</a>
											<a class="item" id="eliminar-{{documento.id}}"><i class="trash icon"></i> Eliminar</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				{% endfor%}
			</div>
		</div>
	</div>

	<div class="ui small modal" id="eliminar-modal">
		<div class="ui center aligned header">¡Cuidado!</div>
		<div class="content">
			¿Desea seguro de eliminar el documento "<span id="eliminar-modal-tipo"></span>" del permiso?
		</div>
		<div class="actions">
			<div class="ui positive button">Eliminar</div>
			<div class="ui negative button">Cancelar</div>
		</div>
	</div> 

{% endblock %}

{% block customPageJs %}
    
	$(".ui.button.eliminar").click(function(datos){
		var splitted_data = this.id.split('-');
		console.log(splitted_data)
		console.log(splitted_data)
		console.log($('#tipo-'+splitted_data[1]).html())
		console.log($('#tipo-'+splitted_data[1]).html())
		var tipo = $('#tipo-'+splitted_data[1]).html()
		$("#eliminar-modal-tipo").html(tipo)
		$('#eliminar-modal').modal({
			onApprove : function() {
				//mandar a borrar

			}
		}).modal('show');
	})


{% endblock %}


 {% block pageStaticJs %}
	<script type="text/javascript" src="{% static 'page/js/index.js'%}"></script>
{% endblock %}
