{% extends 'generales/listado.html' %}

{% block boton_nuevo %} Nuevo permiso {% endblock %} 
{% block url_nuevo %} {% url 'permisos:alta' %} {% endblock %}

{% block titulo %} Permisos {% endblock %}

{% block contenido_informacion_modal %} 

{% endblock %}

{% block mensaje_eliminar_modal %} 
<p>¿Está seguro de que desea eliminar el permiso <span id="eliminar-modal-tipo"></span> del Establecimiento "
	<span id="eliminar-modal-establecimiento"></span>" del solicitante "
	<span id="eliminar-modal-solicitante"></span>"?

{% endblock %}

{% block comportamiento_click_detalle %}
	var splitted_data = this.id.split('-');
	var id = splitted_data[0].replace('-', '');
	window.location.href = "/permisos/detalle/" + id;
{% endblock comportamiento_click_detalle %}

{% block comportamiento_click_eliminar %}
		var splitted_data = this.id.split('-');
		var id = splitted_data[2]
		var tipo = splitted_data[3]
		var establecimiento = splitted_data[4]
		var solicitante = splitted_data[5]
		$("#eliminar-modal-tipo").html(tipo)
		$("#eliminar-modal-establecimiento").html(establecimiento)
		$("#eliminar-modal-solicitante").html(solicitante)
		console.log(id)
		console.log(id)
		console.log(id)
		$('#eliminar-modal').modal({
			onApprove : function() {
				$.post('/permisos/eliminar/' + id + '/', function(data){
					if (data.success){
						location.reload();
					}else{
						$("#block-wrapper").prepend("<div class='row header-content'><div class='ui large warning message'><i class='close icon'></i> \
							<div class='header'> Hubo el siguiente problema:</div><ul class='list'><li id='message_error'>"+
							data.message[1]+"</li></ul></div></div>");
						$('.message .close').on('click', function() {
								$(this).closest('.message')
								.transition('fade');
						});
					}
				})
			}
		}).modal('show');
{% endblock comportamiento_click_eliminar %}

{% block comportamiento_click_modificar %}
	window.location.href = "/permisos/modificar/" + id;
{% endblock comportamiento_click_modificar %}