{% extends 'generales/alta.html' %}

{% load static semanticui %}

{% block mensaje_boton_volver %}
	Volver al listado de comisiones
{% endblock %} 

{% block url_a_volver %}/comisiones/listar{% endblock %}

{% block titulo %} 
	Nueva Comisión 
{% endblock %}

{% block formulario_custom %}



<div class="required field">
    <label for="id_empleados">Empleados</label>
    <div class="ui multiple selection dropdown" tabindex="0">
        <select name="empleados" class="form-control" id="empleados" required multiple="multiple">
            {% for x, y in form.fields.empleados.choices %}
                <option value="{{x}}">{{y}} </option>                
            {% endfor %}
  
        </select>
            <i class="dropdown icon"></i>
            <div class="default text">Ingrese el personal que hará el recorrido</div>
            <div class="menu" tabindex="-1">
                {% for x, y in form.fields.empleados.choices %}
                    <div class="item" data-value="{{x}}">{{y}}</div>
                {% endfor %}
            </div>
        </div>
</div>


{% render_form form exclude='empleados' %}
                 
{% endblock %}

{% block formname %}nueva_comision_form{% endblock%}

{% block customPageJs %}
    

    if ($('#message_error').length>2){
        $('.ui.error.message').show();
    }
    
    
    
    
    $('#agregarEmpleado').click(function(){
        formButtonAdd('{% url 'personas:alta' %}')
    })

    $('#agregarLocalidad').click(function(){
        formButtonAdd('{% url 'localidades:alta' %}')
    })
    
    
{% endblock %}