{% extends 'generales/detalle.html' %}


{% block table_render %}

<table class="ui definition table">
	<tbody>
  	
		<tr>
			<td class="two wide column">Fecha Inicio de Comision</td>
			<td>{{ comision.fechaInicio }}</td>
		</tr>

		<tr>
			<td class="two wide column">Fecha fin de Comision</td>
			<td>{{ comision.fechaFin }}</td>
		</tr>

		<tr>
			<td>Empleados de la Comision</td>
			<td>
			{% for empleado in comision.empleados.all %}
			<p>{{empleado}}</p>
			{% endfor %}
      		</td>
    	</tr>

    	<tr>
			<td>Localidades Recorridas</td>
			<td>
			{% for localidad in comision.localidades.all %}
			<p>{{localidad}}</p>
			{% endfor %}
      		</td>
    	</tr>
    
    	<tr>
			<td>Actas Realizadas</td>
			<td>
			{% for documento in comision.documentos.all %}
			<p>{{documento}}</p>
			{% endfor %}
			</td>
		</tr>
	</tbody>
</table>

{% endblock table_render %}