{% extends 'generales/listado.html' %}

{% block boton_nuevo %} Nueva Localidad {% endblock %} 
{% block url_nuevo %} {% url 'localidades:alta' %} {% endblock %}

{% block titulo %} Localidades {% endblock %}

{% block contenido_informacion_modal %} 

{% endblock %}

{% block mensaje_eliminar_modal %} 
<p>¿Está seguro de que desea eliminar a la Localidad "<span id="eliminar-modal-nombre"></span>"
	del Departamento "<span id="eliminar-modal-departamento"></span>"?</p>
{% endblock %}

{% block customPageJs %}
	{{ block.super }}
	$(".ui.button.detalle").attr('onclick', 'function()');
	$(".ui.button.detalle").prop( "disabled", true );
	
{% endblock %}

{% block comportamiento_click_eliminar %}
		var splitted_data = this.id.split('-');
		var nombre = splitted_data[0]
		var id = splitted_data[2]
		var departamento = splitted_data[6]
		$("#eliminar-modal-nombre").html(nombre)
		$("#eliminar-modal-departamento").html(departamento)
		$("#eliminar-modal").modal({
			onApprove : function() {
				//mandar a borrar
				$.post('/localidades/eliminar/' + id + '/', function(data){
					if (data.success){
						location.reload();
					}else{
						if(data.message[0]=='error'){
							$('#message_error').html(data.message[1]);
							$('.ui.hidden.error.message').show();
						}else{
							$("#block-wrapper").prepend("<div class='row header-content'><div class='ui large warning message'><i class='close icon'></i> \
								<div class='header'> Hubo el siguiente problema:</div><ul class='list'><li id='message_error'>"+
								data.message[1]+"</li></ul></div></div>");
							$('.message .close').on('click', function() {
									$(this).closest('.message')
									.transition('fade');
							});
						}
					}
				})
			}
		}).modal('show');
{% endblock comportamiento_click_eliminar %}
