

{% extends 'generales/listado.html' %}

{% block boton_nuevo %} Nueva Localidad {% endblock %} 
{% block url_nuevo %} {% url 'localidades:alta' %} {% endblock %}

{% block titulo %} Localidades {% endblock %}

{% block contenido_informacion_modal %} 

{% endblock %}

{% block mensaje_eliminar_modal %} 
<p>¿Está seguro de que desea eliminar a <span id="eliminar-modal-nombre"></span>?</p>
{% endblock %}

{% block comportamiento_click_detalle %}
	window.location.href = "/permisos/detalle/" + this.id;
{% endblock comportamiento_click_detalle %}

{% block comportamiento_click_eliminar %}
		var splitted_data = this.id.split('-');
		var id = splitted_data[2]
		$("#eliminar-modal-nombre").html(id)
		$('#eliminar-modal').modal({
			onApprove : function() {
				//mandar a borrar
				$.post('/empresas/eliminar/' + id + '/', function(data){
					if (data.success){
						location.reload();
					}
				})
			}
		}).modal('show');
{% endblock comportamiento_click_eliminar %}
