body {
  display: relative;
  margin: 0px;
}

.ui.grid > .row {
  padding-bottom: 0px;
}
.row {
  padding: 0px 0px 0px 0px;
}

.ui.menu{
  margin-bottom: 0px;
}

.ui.menu.right {
	margin-top: 150px;
}

.roles {
  font-weight: bold;
  text-align: center;
}

.ui .header {
  color:white;
  font-weight: bold;
}

.extra .header-content{
  margin-top: 20px; 
  padding: 0px;
}

.extra .lista {
  margin-top: 0p
}

.header {
  margin:10px;
}

 .titulo{
  margin-bottom: 15px;
 }


.label {
  display:inline;
}

.submenu-item {
  color:white !important;
}