{% if solicitud.estado.getEstadoString == "otorgado" or solicitud.estado.getEstadoString == "baja"%}

	{% if solicitud.estado.getEstadoString == "otorgado" %}

		{% if solicitud.isPermisoFinalizado %}	
			<table>
				<tr>
					<td> <h4 style="color:red"> VENCIDO </h4> </td>
					<td> <a href="{% url 'documentos:agregarResolucion' solicitud.id %}" class="ui button"> Renovar Resolución</a> </td>
				</tr>
			</table>
		{% else %}
			<h4 style="color:green"> Permiso Vigente</h4>
		{% endif %}

	{% endif %}
{% endif %}

