{% if solicitud.estado.getEstadoString == "publicado"%}
    {% if solicitud.estado.isEdictoFinalizado %}
    <p> Este Permiso no tiene Resolucion.</p>
        <a class="ui button" href="{% url 'documentos:agregarResolucion' solicitud.id %}" class="ui button"> Agregar Resolucion.</a> 
    {% endif %}
    <div class="ui form"><div class="inline field">
        <p style="color:red">OPOSICION</p>
        <a class="ui button" href="{% url 'documentos:agregarOposicion' solicitud.id %}" class="ui button"> Agregar Oposición.</a>
    </div></div>
{% endif%}