{% if solicitud.estado.getEstadoString == "publicado"%}
    {% if solicitud.estado.isEdictoFinalizado %}
    <table>
        <tr>
            <td> <h4 style="color:red;"> Este Permiso no tiene Resolucion.</h4>  </td>
            <td> <a class="ui button" href="{% url 'documentos:agregarResolucion' solicitud.id %}" class="ui button"> Agregar Resolucion.</a>   </td>
        </tr>
    </table>
        
    {% endif %}
    <table>
        <tr>
            <td> <h4 style="color:red">Oposición</h4> </td>
            <td> <a class="ui button" href="{% url 'documentos:agregarOposicion' solicitud.id %}" class="ui button"> Agregar Oposición.</a></td>
        </tr>
    </table>
{% endif%}