{% if solicitud.estado.getEstadoString == "solicitado" or solicitud.estado.getEstadoString == "corregido" or solicitud.estado.getEstadoString == "visado"  %}
    {% if solicitud.falta_entregar_documentacion %}
        <table>
            <tr>
                <td><div class="ui medium header" style="color:red">Documentos faltantes: </div></td>

                <td>
                    {% for documentacion in solicitud.tipos_de_documentos_faltantes %}
                        <td> <h4> {{documentacion}} </h4> </td> 
                    {% endfor %}
                </td>         

                <td><a href="{% url 'documentos:alta' solicitud.id %}" class="ui button"> Agregar</a></td>
            </tr>
        </table>
    {% endif %}
    {% if solicitud.existen_documentos_corregidos %}
        <p class="ui medium header" style="color:red">Existen documentos corregidos </p>
    {% endif%}
    {% if solicitud.falta_visar_documentacion %}
        <p class="ui medium header" style="color:red">Existen documentos para visar </p>
    {% endif%}

    {% if solicitud.generar_expediente %}
        <table>
            <tr>
                <td> <p class="ui medium header" style="color:green">Puede generar expediente </p> </td>
                <td> <a href="{% url 'documentos:agregarExpediente' solicitud.id %}" class="ui button"> Agregar número de expediente.</a> </td>
            </tr>
        </table>      
    {% endif %}
        

{% endif %}