<div id="informacion" hidden>
    <h4>FILTROS SELECCIONADOS</h4>
<ul id="lista-filtros"></ul>
<table class="ui large very padded selectable striped celled structured table">
    <thead>
        <tr id="tabla-head-rw1"class="center aligned">
          
          <!-- <th colspan="3">Canon</th>
          <th colspan="3">Infracción</th> -->
        </tr>
        <tr id="tabla-head-rw2" class="center aligned">

        </tr>
        
    </thead>
    <tbody id="tabla-info">

    </tbody>
    <tfoot>
        
    </tfoot>
</table>
</div>