{% load staticfiles %}

<div id="informacion" hidden>
    <h4>FILTROS SELECCIONADOS</h4>
    <ul id="lista-filtros"></ul>
    <table id="tabla-recaudacion" class="ui collapsing large padded selectable structured table">
        <thead>
            <tr id="tabla-head-rw1"class="center aligned"></tr>
            <tr id="tabla-head-rw2" class="center aligned"></tr>
        </thead>
        <tbody id="tabla-info"></tbody>
        <tfoot></tfoot>
    </table>

</div>


<!-- 
                <div class="content">
                <h4 class="ui sub center aligned header">Infraccion</h4>
                <div class="meta"></div>
                <div class="description">
                    <p>Departamentos representados</p>
                    <ul>
                        <li>Rawson: $5000</li>
                        <li>Escalante: $2071</li>
                        <li>Futaleufu: $1000.98</li>
                        <li>Otros: 633.56</li>
                    </ul>
                    <p>Localidades representadas</p>
                    <ul>
                        <li>Comodoro Rivadavia: $2071</li>
                        <li>Trelew: $5000</li>
                        <li>Esquel: %1000</li>
                        <li>Otros: 633.56</li>
                    </ul>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                  Ultimo pago: 12 de Abril 2021
                </span>
                <span>
                  <i class="user icon"></i>
                  130 permisos
                </span>
              </div>
 -->