<div class="ui pointing secondary menu">
    <a class="active item" id="item-filtro"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filtros</font></font></a>
    <a class="item" id="item-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información</font></font></a>
    <a class="item" id="item-info-grafico"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Info + Graficos</font></font></a>
    <a class="item" id="item-grafico"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Graficos</font></font></a>
    
    <div class="right menu">
        <div class="item">
            <div class="ui dropdown button">
                Exportar
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" onclick="window.location.href='?_export=csv'">CSV</a>
                    <a class="item" onclick="window.location.href='?_export=json'">JSON</a>
                </div>
            </div>
        </div>
    </div>
            
</div>