{% extends 'base.html' %}
{% load static semanticui %}
{% load actionButton %}

	{% block botones %}
		<div class="three ui buttons">
			<button class="circular ui olive button" name="btn_tipo_reporte" data-value="tipos_permisos">Tipos de Permisos</button>
			<button class="ui green button" name="btn_tipo_reporte" data-value="series_temporales">Series Temporales</button>
			<button class="ui teal button" name="btn_tipo_reporte" data-value="proyeccion_valores_modulos">Proyección por Valores de Modulos</button>
		</div>
	{% endblock %}

    {% block informacion %}
		{% include "recaudacion/informacion.html" %}
    {% endblock %}
	<br><br><br>
	{% block graficos %}
		{% include "recaudacion/graficos.html" %}
    {% endblock %}
				
				
{% block pageStaticJs %}
	{{ block.super }}

	<script src="{% static 'js/recaudacion/recaudacion.js' %}"></script>
	<script src="{% static 'js/recaudacion/info-rec.js' %}"></script>
	<script src="{% static 'js/recaudacion/graficos-rec.js' %}"></script>

{% endblock %}

{% block pageStaticStyles %}
	{{ block.super }}

{% endblock %}

{% block customPageJs %}

{% endblock %}