{% extends 'generales/detalle.html' %}

{% block table_render %}
<table class="ui celled table">
    <tbody>
      <tr>
        <td data-label="data">CUIT</td>
        <td data-label="value">{{object.cuit}}</td>
      </tr>
      <tr>
        <td data-label="data">Razón Social</td>
        <td data-label="value">{{object.razonSocial}}</td>
      </tr>
      <tr>
        <td data-label="data">Teléfono</td>
        <td data-label="value">{{object.telefono}}</td>
      </tr>
      <tr>
        <td data-label="data">Dirección</td>
        <td data-label="value">{{object.direccion}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Representantes</h2>

  {% if object.tiene_representantes %}
  <table class="ui celled table">
    <tbody>
        <tr>
            <th>Documento</th>
            <th>Nombre Completo</th>    
        </tr>
          
        {% for representante in object.representantes.all %}
          <tr>
            <td data-label="Documento">{{representante.numeroDocumento}}</td>
            <td data-label="Nombre Completo">{{representante.nombre}} {{representante.apellido}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
  <table class="ui celled table">
    <tbody>
      <tr>
        <td data-label="value">No tiene reresentantes registrados.</td>
      </tr>
    </tbody>
  </table>
  {% endif %}

{% endblock table_render %}