{% extends 'index2.html' %}
{% load static semanticui %}
{% load contextMenu %}

{% block wrapper %}
<div class="ui grid" style="margin-bottom:25px;"> 

<div class="row header-content">
	<div class="five wide column">
		<button class="ui primary basic button" onclick="window.location.href='/personas/listado'">
			<i class="angle left icon"></i>
			Volver a la lista de personas
		</button>

	</div>
	<div class="six wide column">
		<h1 class="ui center aligned header blue "> Nueva Persona </h1>
	</div>
	<div class="five wide column">
	</div>
</div>
</div>
	{% if message %}
		<div class="ui error message">
		  <i class="close icon"></i>
		  <div class="header">Hubo errores en la carga de la persona:</div>
		    	<li> {{ message }}</li>
		</div>
	{% endif %}

<form class="ui large form" action="{{ form.url_post }}" method="POST">
    {% csrf_token %}
	{% render_form form %}
	<div class="field">
		<label >Empresas</label>		
	</div>
	<div class="ui grid">
		<div class="row">
			<div class="fifteen wide column" >
				<div class="field">
					<div class="ui dropdown multiple search selection" name="empresas" id="empresasDropdown">
						<input type="hidden" name="empresas" class="empresasDropdown">
						<div class="default text">Selecciona empresas</div>
						<i class="dropdown icon"></i>
						<div class="menu">

						</div>
					</div>
				</div>	
			</div>
			<div class="one wide column">
				<button class="ui primary icon button" id="agregarEmpresa" type="button" data-tooltip="Agrega una nueva empresa">
					<i class="plus icon" ></i>
				</button> 
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column" >
				<div class="field">
					<label>Roles</label>
					<div class="ui dropdown multiple search selection" id="roles-dropdown">
					  <input type="hidden" name="roles">
					  <div class="default text">Selecciona roles</div>
					  <i class="dropdown icon"></i>
					  <div class="menu">
					  </div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="ui error message roles">
		<i class="close icon"></i>
		<p>
	
		</p>
	</div>
	<div id="directorForm"></div>
	<div id="choferForm"></div>
	<div class="ui grid" >
		<div class="row">
			<div class="sixteen wide column" style="margin: 20px 0">
				{% if not object %}
					<input type="submit" class="ui primary button" name="cargarOtro" value="Guardar y Cargar otro">
				{% endif %}
				<input type="submit" class="ui positive button" name="guardar" value="Guardar">
			</div>
		</div>
	</div>
	<div class="ui error message">

	</div>


</form>
{% endblock %}

{% block customPageJs %}
	DIRECTOR_FORM = `	
		<div class="field director" style="margin-top:25px;">
			<h2> Información de director: </h2>		
		</div>
		<div class="field director ">
			{{ director_form.legajo.errors }}
			<label for="director_form.legajo.id_for_label">Legajo:</label>
			{{ director_form.legajo }}
		</div>
		<div class="field director">
			{{ director_form.cargo.errors }}
			<label for="director_form.cargo.id_for_label">Cargo:</label>
			{{ director_form.cargo }}
		</div>
		<div class="field director">
			{{ director_form.fechaInicio.errors }}
			<label for="director_form.fechaInicio.id_for_label">Fecha de inicio:</label>
			{{ director_form.fechaInicio }}
		</div> 

		<div id="directorForm"></div>
	`
	
	CHOFER_FORM = `
		<div class="field chofer" style="margin-top:25px;">
			<h2> Información de chofer: </h2>		
		</div>
		<div class="field chofer">
			{{ chofer_form.licencia.errors }}
			<label for="chofer_form.licencia.id_for_label">Licencia:</label>
			{{ chofer_form.licencia }}
		</div>
		<div class="field chofer">
			{{ chofer_form.vencimientoLicencia.errors }}
			<label for="chofer_form.vencimientoLicencia.id_for_label">Vencimiento de la licencia:</label>
			{{ chofer_form.vencimientoLicencia }}
		</div>
		<div id="choferForm"></div>
	`

	$(document).ready(function(){
		var empresas_lista_cuits = [];
		empresas_dropdown_values = [];
		$('.field.director').css('display','none');
		$('.field.chofer').css('display','none')
		$('#agregarEmpresa').click(function(){
			var win = window.open('{% url 'empresas:alta' %}', '_blank');
			win.focus();
		})

		$("#empresasDropdown").click(function(){			
			$.get('{% url 'empresas:data' %}', function(data) {
				for(empresa of data.data){
					if (!empresas_lista_cuits.includes(empresa.cuit)){
						empresas_lista_cuits.push(empresa.cuit)
						empresas_dropdown_values.push({name:empresa.razonSocial + ' - ' + empresa.cuit , value:empresa.cuit})				
						$("#empresasDropdown").dropdown('change values', empresas_dropdown_values)
					}
				}
				
			}, "json")
		}) 

		function sanitize(str){
			var tuplas = {
				'Director': 'Director', 
				'Administrativo': 'Administrativo', 
				'Inspector': 'Inspector', 
				'JefeDepartamento': 'Jefe de Departamento', 
				'Chofer': 'Chofer', 
				'Solicitante': 'Solicitante', 
				'Liquidador': 'Liquidador', 
				'Sumariante': 'Sumariante'
			}

			return tuplas[str]
		}

		$("#roles-dropdown").dropdown({
			values: [
				{% for rol in roles %}
					{
						name: sanitize('{{rol}}'),
						value: '{{rol}}'	
					},
				{% endfor %}
			],
		    onChange: function(roles, nuevo, $selectedItem) {
				listaRoles = roles.split(',')
	
				accion = listaRoles.includes(nuevo)? 'ingresado' : 'borrado'

				
				$(".ui.large.form").form('remove prompt', 'roles')
				$('.form .error.message.roles').hide()

				if (nuevo=='Director' && accion == 'ingresado' ) {	
					$('#directorForm').replaceWith(DIRECTOR_FORM)
				} 
	
				if (nuevo=='Director' && accion == 'borrado' ){
					$('.field.director').remove();
				}
	
				if (nuevo=='Chofer' && accion == 'ingresado' ) {
					$('#directorForm').replaceWith(CHOFER_FORM)
				} 
				
				if (nuevo=='Chofer' && accion == 'borrado' ){
					$('.field.chofer').remove();
				}
	
				if (nuevo == 'Sumariante' && accion == 'ingresado' && listaRoles.includes('Inspector')){
					$(this).dropdown('remove selected', 'Inspector')				
					$(".ui.large.form").form('add prompt', 'roles')
					$('.form .error.message.roles p').html('No se puede ser inspector y sumariante, ya que son cargos relacionados.')
					$('.form .error.message.roles').show()
				}
				if (nuevo == 'Inspector' && accion == 'ingresado' && listaRoles.includes('Sumariante') ){
					$(this).dropdown('remove selected', 'Sumariante')
					$(".ui.large.form").form('add prompt', 'roles')
					$('.form .error.message.roles p').html('No se puede ser inspector y sumariante, ya que son cargos relacionados.')
					$('.form .error.message.roles').show()
				}
			}
		})
		
		$("#rolesDropdown").dropdown()

		$(".ui.large.form").form({
			on: 'blur',
			fields: {
				nombre: {
					identifier : 'nombre',
					rules: [
						{
							type: 'empty',
							prompt: "Ingrese un nombre."
						}
					]
				},
				apellido: {
					identifier : 'apellido',
					rules: [
						{
							type: 'empty',
							prompt: "Ingrese un apellido."
						}
					]
				},
				email: {
					identifier : 'email',
					rules: [
						{
							type: 'email',
							prompt: "Ingrese un email válido."
						}
					]
				},
				tipoDocumento: {
					identifier : 'tipoDocumento',
					rules: [
						{
							type: 'empty',
							prompt: "Ingrese un tipo de documento."
						}
					]
				},
				numeroDocumento: {
					identifier : 'numeroDocumento',
					rules: [
						{
							type: 'empty',
							prompt: "Ingrese un número de documento."
						}
					]
				},
				direccion: {
					identifier : 'direccion',
					rules: [
						{
							type: 'empty',
								prompt: "Ingrese una dirección."
						}
					]
				},
				telefono: {
					identifier : 'telefono',
					rules: [
						{
							type: 'empty',
							prompt: "Ingrese un número de teléfono."
						},
						{
							type: 'integer[1111111111..9999999999]',
							prompt: "Ingrese un número de teléfono válido."
						}
					]
				},
			}
		})

		$('.message .close').on('click', function() {
			$(this).closest('.message').hide();
		  });
		  
		{% if object %}

			empresas_relacionadas = {{object.empresas_list | safe}}

			$.get('{% url 'empresas:data' %}', function(data) {
				for(empresa of data.data){
					empresas_lista_cuits.push(empresa.cuit)
					empresas_dropdown_values.push({name:empresa.razonSocial + ' - ' + empresa.cuit , value:empresa.cuit, selected:empresas_relacionadas.includes(empresa.cuit)})
				}
				$("#empresasDropdown").dropdown({
					values: empresas_dropdown_values
				})

			}, "json")
			$("#empresasDropdown").dropdown();

			roles_relacionados = {{object.getRolesName | safe }}
			
			for(rol of roles_relacionados){
				$("#roles-dropdown").dropdown('set selected', rol)
			}
		{% endif %}
	})

	

{% endblock %}