{% extends 'index2.html' %}
{% load static semanticui %}
{% load contextMenu %}

{% block wrapper %}
<div class="ui grid" style="margin-bottom:25px;"> 

<div class="row header-content">
	<div class="five wide column">
		<button class="ui primary basic button" onclick="window.location.href='listado'">
			<i class="angle left icon"></i>
			Volver a la lista de personas
		</button>

	</div>
	<div class="six wide column">
		<h1 class="ui center aligned header blue "> Nueva Persona </h1>
	</div>
	<div class="five wide column">
	</div>
</div>
</div>
	{% if message %}
		<div class="ui error message">
		  <i class="close icon"></i>
		  <div class="header">Hubo errores en la carga de la persona:</div>
		    	<li> {{ message }}</li>
		</div>
	{% endif %}

<form class="ui large form" action="{{ form.url_post }}" method="POST">
    {% csrf_token %}
	{% render_form form %}
	<div class="field">
		<label for="id_empresas">Empresas</label>		
	</div>
	<div class="ui grid">
		<div class="row">
			<div class="fifteen wide column" >
				<select class="ui fluid search dropdown empresasDropdown" multiple="" id="empresasDropdown" name="empresas">
					<option value="">Empresas</option>
					{% for empresa in empresas%}
						<option value="{{empresa.cuit}}">
							{{empresa.razonSocial }} - {{ empresa.cuit }}
						</option>
					{% endfor%}
				</select>
			</div>
			<div class="one wide column">
				<button class="ui primary icon button" id="agregarEmpresa" type="button" data-tooltip="Agrega una nueva empresa">
					<i class="plus icon" ></i>
				</button> 
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column" >
				<div class="field">
					<label for="id_roles">Roles</label>		
					<select class="ui fluid search dropdown" multiple="" name="roles" id="rolesDropdown" onchange="printForm(this)">
					</select>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="ui grid">
		<div class="row">
			<div class="sixteen wide column" style="margin-bottom: 20px">
				{% if not object %}
					<input type="submit" class="ui primary button" name="cargarOtro" value="Guardar y Cargar otro">
				{% endif%}
				<input type="submit" class="ui positive button" name="guardar" value="Guardar">
			</div>
		</div>
	</div>
	<div class="ui error message">
	</div>



</form>
{% endblock %}

{% block customPageJs %}
	$(document).ready(function(){
		$('#agregarEmpresa').click(function(){
			var win = window.open('{% url 'empresas:alta' %}', '_blank');
			win.focus();
		})

		$(".empresasDropdown").click(function(){
			//Retrieve data
			console.log("retrieving data")
			var options = '<option value="">Empresas</option>'
			$.get('{% url 'empresas:data' %}', function(data) {
				for(empresa of data.data){
					options += '<option value="' + empresa.cuit + '">' + empresa.razonSocial + ' - ' + empresa.cuit + '</option>'
				}
				$("#empresasDropdown").html(options)
			}, "json")
		})

		function sanitize(str){
			var tuplas = {
				'Director': 'Director', 
				'Administrativo': 'Administrativo', 
				'Inspector': 'Inspector', 
				'JefeDepartamento': 'Jefe de Departamento', 
				'Chofer': 'Chofer', 
				'Solicitante': 'Solicitante', 
				'Liquidador': 'Liquidador', 
				'Sumariante': 'Sumariante'
			}

			return tuplas[str]
		}

		var rolesOptions ='<option value="">Roles</option>'
		
		{% for rol in roles %}
			rolesOptions += '<option value="{{rol}}">' + sanitize('{{rol}}') + '</option>'
		{% endfor %}

		$("#rolesDropdown").html(rolesOptions)



	})

	

{% endblock %}