{% extends 'detail.html' %}
{% load infoRol %}
{% load staticfiles %}
{% block detailblock %}

	<h1>Información de la Persona: {{ persona.nombre }} {{ persona.apellido }} </h1>
	<hr>
	<h2>Datos Personales:</h2>
	<div>
		<li>Email: {{persona.email}}</li>
		<li>Documento: {{persona.get_tipoDocumento_display}} {{persona.numeroDocumento}}</li>
		<li>Dirección: {{persona.direccion}}</li>
		<li>Teléfono: {{persona.telefono}}</li>
		<a class="positive ui button" href="{% url 'personas:modificar' persona.id %}">Modificar datos</a>
		<a class="negative ui button" href="{% url 'personas:eliminar' persona.id %}">Eliminar Persona</a>
	</div>
	<hr>
	{% if persona.roles.all %}
		
		<h3>ROLES:</h3>
		<ul>
			{% for rol in persona.roles.all %}
				{% if rol.es_director %}
				<li> {{rol.related.get_tipo_display | title}} </li>
				<ul>
					<li>Legajo: {{persona.como_director.legajo}}</li>
					<li>Cargo: {{persona.como_director.cargo}}</li>
					<li>Fecha Inicio: {{persona.como_director.fechaInicio}}</li>
				</ul>
				
				{% elif rol.es_chofer %}
				<li> {{rol.related.get_tipo_display | title}} </li>
				<ul>
					<li>Licencia: {{persona.como_chofer.licencia}}</li>
					<li>Fecha de Vencimiento de Licencia: {{persona.como_chofer.vencimientoLicencia}}</li>
				</ul>
				{% else %}
					<li> {{rol.related.get_tipo_display | title}} </li>
				{% endif %}
				<!--{% renderInfoRol rol %}-->
			{% endfor %}
		</ul>
	{% endif %}
	<div>
		<h3>Promover a rol:</h3>
		<select class="ui search dropdown" id="select">
	  		{% for tipoRol in roles %}
	  			<option value="{{tipoRol.1}}" id={{tipoRol.0}}>{{tipoRol.1}}</option>
	  		{% endfor %}

		</select>
		<button type="button" class="ui positive button">Agregar</button>
		<div id="message"></div>
	</div>
	<hr>

{% endblock%}	

 {% block pageStaticJs %}
 <script type="text/javascript" src="{% static 'page/js/index.js'%}"></script>
<script type="text/javascript">
$(document).ready(function(){
		var pluralizeUrl = function(nombre) {
			return {
				'solicitante': '/solicitantes',
				'director': '/directores',
				'administrativo': '/administrativos',
				'inspector': '/inspectores',
				'sumariante': '/sumariantes',
				'liquidador': '/liquidadores',
				'jefedepartamento': '/jefesdepartamento',
				'chofer': '/choferes'
			}[nombre];
		}
    	$("button").click(function(){
    		var x = document.getElementById("select"); 
			var rol = x.value;
			if(rol != 'rol'){
				document.location.href = pluralizeUrl(rol) + '/promover/' + {{persona.id}}; 
			} else {
				document.getElementById('message').innerHTML = 'Por favor, seleccione un rol'
			}
    	});

		$('#select')
		  .dropdown({
		    action: 'activate'
		  });

});
</script>
{% endblock %}