{% extends 'index2.html' %}
{% load actionButton %}
{% load render_table from django_tables2 %}


{% block wrapper %}
<div class="ui grid"> 
<div class="row header-content">
	<div class="three wide column"></div>
	<div class="ten wide column">
		<h1 class="ui center aligned header blue "> Personas </h1>
	</div>
	<div class="three wide column">
		<button class="ui icon right floated blue button" onclick="window.location.href='alta'">
			<i class="plus icon"></i>
			Nueva persona
		</button>
	</div>
</div>
<div class="row lista">
	{% render_table table %}
</div>

</div>

{% endblock %}

