{% extends 'generales/alta.html' %}

{% load static semanticui %}

{% block mensaje_boton_volver %}
	Volver al Detalle de Permiso
{% endblock %} 

{% block titulo %} 
	{{nombreForm}}
{% endblock %}

{% block formulario_custom %}
<div class="ui grid">
	<div class="row">
		<div class="fifteen wide column" >
			<div class="required field">
				{{ form.descripcion.label_tag }}{{ form.descripcion.errors }}{{ form.descripcion }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="fifteen wide column" >
			<div class="required field">
				{{ form.archivo.label_tag }}{{ form.archivo.errors }}{{ form.archivo }}
			</div>
		</div>
	</div>
	
	<div class="ui horizontal divider"><h4 class="">Periodo de Cobro de Canon</h4></div>
	
	<div class="row">
		<div class="seven wide column" >
			<div class="required field">
				{{ form.fecha_desde.label_tag }}{{ form.fecha_desde.errors }}{{ form.fecha_desde }}
			</div>
		</div>
		<div class="seven wide column" >
			<div class="required field">
				{{ form.fecha_hasta.label_tag }}{{ form.fecha_hasta.errors }}{{ form.fecha_hasta }}
				<div class="ui pointing label">{{ form.fecha_hasta.help_text }}</div>
			</div>
		</div>
        <div class="one wide column">
            <button class="ui primary icon button fix-button-add-margin" id="button-recalcular" type="button" data-tooltip="Recalcular el monto">
                <i class="calculator icon" ></i>
            </button> 
        </div>
    </div>

	<h4>El monto calculado a cobrar es de ${{cobro.monto}} para el periodo seleccionado ({{cobro.fecha_desde}}-{{cobro.fecha_hasta}}).</h4>
</div>
{% endblock %}

{% block formname %}nuevo_cobro_form{% endblock%}